.advice-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 32px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.advice-list__item {
    width: calc((100% - 96px) / 4);/* 3 * 32px = 96px */

}

.advice-card  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    min-height: 480px;
    border-radius: 12px;
    background-size: cover;        /* растягивает картинку */
    background-position: center;   /* центрирует */
    background-repeat: no-repeat;  /* не повторяет */
}

.advice-card__card-top {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.advice-card__title {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.advice-card__description {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}


.advice-card--first  {
    background-image: url("../../images/img-card/Rectangle-pension.png");
}

.advice-card--second {
    background-image: url("../../images/img-card/Rectangle-rating.png");
}

.advice-card--third  {
    background-image: url("../../images/img-card/Rectangle-buy-ingots.png");
}

.advice-card--fourth {
    background-image: url("../../images/img-card/Rectangle-tax-deduction.png");
}

.advice-card--fifth  {
    background-image: url("../../images/img-card/Rectangle-transfer.png");
}

.advice-card--sixth  {
    background-image: url("../../images/img-card/Rectangle-Right-to-dismissal.png");
}

.advice-card--seventh  {
    background-image: url("../../images/img-card/Rectangle-hide-balance.png");
}

.advice-card--eighth {
    background-image: url("../../images/img-card/Rectangle-credit-load.png");
}


.advice-card__link {
    display: flex;
    width: 100%;
    padding: 14px;
    justify-content: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background-color: #476BF0;
    border-radius: 8px;
}

